
/* Top bar*/
#top-bar {
   
    background: #77d04f;
}

.profile-button a{
	/*color: #fff !important;*/
    /*background-color: #6c757d;
    border-color: #6c757d;
	*/
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	
	margin-top: 15px;
}

#page-title {
    position: relative;
    padding: 50px 0;
    background-color: #eaf4f4;
    border-bottom: 1px solid #EEE;
}

.profile-button a:hover{
	cursor: pointer !important;
}

.top-links ul li {
    float: left;
    position: relative;
    height: 44px;
    border-left: 1px solid #77d04f;
}

#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
    color: #7AC143;
}

#primary-menu ul ul:not(.mega-menu-column), #primary-menu ul li .mega-menu-content {
   
    border-top: 2px solid #7AC143;
  
}

.button {
    background-color: #7AC143;
}

.button:hover{
	transform: scale(1.005) !important;
}

.button.button-full{
	background: #77d04f;
}
.dataTables_filter{
        float: left !important;
    }
	
.dataTables_filter label input{
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding-left: 5px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px !important;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 40px !important;
}


.fancy-title.title-bottom-border h1, .fancy-title.title-bottom-border h2, .fancy-title.title-bottom-border h3, .fancy-title.title-bottom-border h4, .fancy-title.title-bottom-border h5, .fancy-title.title-bottom-border h6 {
    display: block;
    background: transparent;
    padding: 0 0 10px;
    border-bottom: 2px solid #77d04f;
}

.product-image img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 270px !important;
    min-height: 270px !important;
}



/*Slider*/
.ares.tparrows{

	background: #77d04f;
}

.ares.tparrows:before {
    font-family: "revicons";
    font-size: 25px;
    color: #fff;
}
.ares.tparrows:hover:before {
    color: #000;
}

.ares .tp-title-wrap{

	    background: #77d04f;
}

.contact-properties [class^=col-]>a .heading-block h3:after {
    content: "";
    border-style: solid;
    border-color: #77d04f;